<?xml version="1.0"?>

  <model>
    <name>acrylic_box</name>
    <version>1.0</version>
    <sdf version ="1.0">model.sdf</sdf>

    <author>
      <name>Shivam kulkarni</name>
      <email>shivamakulkarni57@gmail.com</email>
    </author>
    
    <description>
      This is a custom box generated for pick and place robot.
    </description>
  </model>